<h3>Editing Event</h3>

<%= render 'form', event: @event %>

<%= link_to events_path, class:"btn pull-left btn-fyi" do %>
  <i class="glyphicon glyphicon-chevron-left">Back</i>
<% end %>

<%= link_to  @event, class: "btn pull-left btn-fyi" do %>
  <i class="glyphicon glyphicon-info-sign">Show</i>
<% end %>
