a {
  color: blue;
}

.navbar-nav li {
  color: white;
}

.navbar-nav li a:before {
  content:" | ";
}

.navbar li.greeting_class {
  margin-top: 15px;
}

body{
  background-color: #FFC7C7;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  background-color: #801515;
  border-color: #512000;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.img-thumbnail {
  max-width: 150px;
  float: left;
  margin-left: -20px;
  margin-top: -5px;
}

.footer .text-center {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #801515;
  color: white;
  text-align: center;
  padding-top:30px;

}

.btn > a {
  color: red;
}

.list-group-item {
  background-color: #FFC7C7;
  border: 1px solid #FFC7C7;
}
