<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="udesign">
  <div class="ui container">
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui three stackable cards">
          <% @categories.each do |category| %>
            <div class="card">
              <div class="ui left piled segment">
                <img src="image/image8.jpg" class="ui tiny left floated image">
                <h3 class="ui header text-center" style="margin-top: 0px;" ><%= link_to category.name, category %></h3>
                <div class="floated right text-center description">
                  <%= category.description %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<% if current_user %>
  <%= link_to 'New Category', new_category_path %>
<% end %>

<script>
  <script type="text/javascript" >
    $('.ui.sticky').sticky();

    $('#contact-button-card').click(function () {
        $('#modal-contact-me')
        .modal('setting', 'transition', 'vertical flip')
        .modal('show');
    });

    $(document).foundation();

    setInterval(function () {
        $('.ui.grid .sixteen.wide.column .ui.three.stackable.cards .card').transition({
            animation: 'tada',
            duration: 1000,
            interval: 200
        });
    }, 1000 * 15);

    setInterval(function () {
        $('.ui.grid .sixteen.wide.column .ui.four.stackable.cards .card').transition({
            animation: 'jiggle',
            duration: 800,
            interval: 200
        });
    }, 1000 * 7);
  </script>
</script>
